<form class="form" (ngSubmit)="login()">
  <div>
    <input #logUserName name="login" class="form-control" type="text" placeholder="username"
      [(ngModel)]="loginModel.login" />
    <input name="password" class="password form-control" type="password" id="password" placeholder="password"
      [(ngModel)]="loginModel.password" />
    <br>
    <br>
    <button type="submit" [disabled]="loginBtnDisabled">LOGIN</button>
  </div>

  <button (click)="openSignUp()" type="button">SIGN UP</button>
</form>
