<form class="form" (ngSubmit)="onSubmit()">
  <div>
    <input #email type="email" name="email" class="form-control" placeholder="email address" [(ngModel)]="model.email"
      required />
    <input type="text" name="username" class="form-control" placeholder="pick a username" [(ngModel)]="model.userName" required />
    <input name="password" class="password form-control" type="password" placeholder="set a password"
      [(ngModel)]="model.password" required />
    <input name="confirm-password" class="password form-control" type="password"
      placeholder="repeat a password" [(ngModel)]="model.confirmPassword" required />
    <br>
    <br>
  </div>

  <button type="submit">
    SIGN UP
  </button>
  <span (click)="openLogin()" class="tologin">To Login</span>
</form>
