<div class="login-page">
  <form id="loginForm" class="form" (ngSubmit)="login()">
    <div>
      <input id="logUserName" name="login" class="form-control" type="text" placeholder="username" [(ngModel)]="loginModel.login" />
      <input id="logPass" name="password" class="password" type="password" id="password" placeholder="password" [(ngModel)]="loginModel.password" />
      <br>
      <br>
      <button type="submit" [disabled]="loginBtnDisabled">LOGIN</button>
    </div>

    <button id="toSignUp" (click)="openSignUp()" type="button">SIGN UP</button>
  </form>
</div>
