.map-container {
    margin-top: 20px;
}

.info-section{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 940px;
    border-bottom: 1px solid black;
}

.content {
    margin: 20px 200px;
    width: 940px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-buttons {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.image {
    background-image: url("/assets/images/userPlaceholder.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-right: 10px;
}

.comment-name {
    font-weight: bold;
    margin-right: 10px;
}

.comment {
    display: flex;
    margin-bottom: 20px;
}

.comment-add {
    width: 940px;
    display: flex;
    margin-bottom: 20px;

    &> textarea {
        width: 500px;
        margin-right: 20px;
    }
}