<div class="background">
    <p class="logo" routerLink="/home">World around</p>

    <div class="links">
        <p routerLink="/home" routerLinkActive="active">Home</p>
        <p routerLink="/trips" routerLinkActive="active">Trips</p>
        <p routerLink="/attractions" routerLinkActive="active">Attractions</p>
    </div>

    <div class="search">
        <input type="text" placeholder="Search...">
        <div>
            <p>Attraction</p>
            <div class="caret"></div>
        </div>
        <div class="search-button">
            <div></div>
        </div>
    </div>
    
    <p class="profile" routerLink="/my-profile" routerLinkActive="active">My Profile</p>
</div>