<div class="subheader">
    <div routerLink="/trips/create">
        <p>Create new trip</p>
        <div class="plus"></div>
    </div>
</div>
<div class="content">
    <app-map height="600px" width="940px" mapId="trips-info-map"></app-map>

    <div class="trips">
        <div *ngFor="let trip of trips">
            <div class="trip">
                <div class="trip-info" (click)="showTrip(trip.pins)">
                    <h2>{{trip.name}}</h2>
                    <p>Created: {{trip.createDate}}</p>
                    <p>{{trip.description}}</p>
                </div>
                <div class="arrow" [routerLink]="['/trip', trip.id]"></div>
            </div>
        </div>
    </div>
</div>