<mat-card class="example-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{this.event.title}}</mat-card-title>
    <mat-card-subtitle>Starts: {{this.event.startDate | date: "dd/MM/yyyy"}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="this.event.imagePath ?? 'https://demofree.sirv.com/nope-not-here.jpg'"
  alt="Photo of event">
  <mat-card-content>
    <p>
      {{this.event.description}}
    </p>
  </mat-card-content>
</mat-card>
